<form class="row g-3"(submit)="GetData($event)">
    <div class="col-md-4">
      <label for="name" class="form-label">Product name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="description" class="form-label" >Description</label>
      <input type="text" class="form-control" id="description"name="Description" [(ngModel)]="product.description" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
        <label for="price" class="form-label" >Price</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    <div class="col-md-4">
        <label for="quantity" class="form-label" >Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="product.quantity" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
 
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
